html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: white;
 }
 
 .wrapper {
     display: grid;
     grid-template-rows: auto 1fr auto;
     grid-gap: 0;
     margin:0;
     font-family: Cantarell, Arial, Helvetica, sans-serif;
 }
 
 
 /* Navigation bar styles */
 
 nav {
     grid-row: 1/2;
     width: 100vw;
     display: flex;
     margin: 0;
     background-color: white;
     box-shadow: 0px 1px 10px black;
     justify-content: space-between;
     align-items: center;
     font-family: Cantarell, Arial, Helvetica, sans-serif;
     color: #231f20;
     z-index: 1;
 }
 .navlink {
     color: #231f20;
 }
 
 #logoimg {
     margin-left: 5vw;
     width: 20vw;
 }
 .navbar-links {
     height: 100%;
     margin-right: 5vw;
 }
 .navbar-links ul {
    
     padding: 0;
     display: flex;
     font-size: 3vh;
 }
 .navbar-links li{
     list-style: none;
 }
 .navbar-links li a {
     list-style: none;
     display: block;
     padding: 3vh 1vw;
     text-transform: uppercase;
     text-decoration: none;
     color: #231f20;
 }
 .navbar-links li a:visited{
     color: #231f20;
 }
 .navbar-links li :hover {
     background-color: gray;
 }
 
 /* hamburger button */
 
 .toggle-button {
     position: absolute;
     top: 0.75rem;
     right: 1.5rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 25px;
     height: 9vh;
     padding: 0.5em;
 }
 .toggle-button .bar {
     height: 5px;
     width: 100%;
     background-color: #231f20;
     border-radius: 15px;
 }
 .toggle-button:hover{
     background-color: gray;
 }
 
 
 
 /* Main body stles */
 
 .main {
     grid-row: 2/3;
     display: grid;
     min-height: 100vh;
 }
 
 #main-body {
     display: grid;
    grid-gap: 0.5em;
 }

 #navbar {
     height: auto;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
#navbar h1 {
    padding: 0 2em;
}
 #navbar ul {
     min-width: 50%;
     display: flex;
     justify-content: space-between ;
     list-style: none;
     padding: 0.5em 2em;
 }
 #navbar ul li a {
     text-decoration: none;
     color: #231f20;
     background-color: rgb(243, 237, 237);
     padding: 0.5em;
     border-radius: 5px;
     transition: 0.5s ease;
     font-size: 2em;
 }
 #navbar ul li a:hover {
     background-color: lightgray;
     transition: 0.5s ease;
 }

 #welcome-section {
     height: 100vh;
    grid-row: 2/3;
    display: grid;
    justify-items: center;
    align-items: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgb(36, 77, 189) 100%);

 }

 #welcome-section-div {
     display: grid;
     justify-items: center;
 }
 #welcome-section-title {
     font-size: 2em;
     color: #B9C8CB;
     text-shadow: 1px 1px 3px gray;
 }
 #welcome-section-paragraph {
     font-size: 1.2em;
     color: #B9C8CB;
 }
#project-header {
    grid-row: 3/4;
    display: grid;
    justify-items: center;
    box-shadow: 0px 1px 5px;
}
#project-header h1 {
    padding: 1em;
}
 #projects {
     grid-row: 4/5;
     display: flex;
     flex-wrap: wrap;
     margin: 3em;
 }

 .project-tile {
     flex: 1 1 300px;
     display: grid;
    padding: 5px;
    margin: 5px;
    background-color: rgb(243, 239, 239);
    justify-items: center;
    box-shadow: 1px 1px 5px;
    grid-template-rows: 2fr 1fr;
 }
 .project-image {
    max-width: 100%;
    height: 100%;
    border-bottom:  1px solid gray;
 }
 .project-title-div {
     background-color: rgb(236, 231, 231);
     display: grid;
     width: 100%;
     justify-items: center;
     padding: 0.5em 0;
     }
.project-title {
 padding: 1.5em 2em;   
 text-decoration: none;
 color: #231f20;
 font-size: 1.5em;
 transition: 0.5s ease;
}
.project-title:hover {
    background-color: lightgray;
    transition: 0.5s ease;
}


#contact {
    grid-row: 5/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3em 1em;
    background: rgb(19,33,85);
    background: linear-gradient(90deg, rgba(19,33,85,1) 0%, rgba(16,14,61,1) 100%);
    box-shadow: -1px -1px 5px;
}

#profile-link {
    
    color: #B9C8CB;
    text-decoration: none;
    font-size: 2em;
}
.profile-link {
    color: #B9C8CB;
    text-decoration: none;
    font-size: 2em
}


 /* ########## FOOTER STYLES ############*/
 
 .footer {
     grid-row: 3/4;
     display: flex;
     background-color: gray;
     justify-content: space-between;
     margin: 0;
     width: 100vw;
     box-shadow: 0px -1px 10px;
     z-index: 1;
 
 }
 #footer-text {
     font-family: Cantarell, Arial, Helvetica, sans-serif;
     width: 100%;
     align-self: center;
     font-size: 1.5em;
     margin-left: 4em;
 }
 
 
 #contact-buttons {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-right: 4em;
 }
 .contact-images:hover {
     background-color: lightslategray;
 }
 .contact-images {
     border-radius: 50%;
     width: 5em;
     padding: 1em 1em 1em 1em;
    
 }
 
 
 @media only screen and (max-width: 768px) {
    
     #logoimg {
         margin-left: 1rem;
         margin-top: 0.75rem;
         width: 40vw;
         margin-left: 0rem;
     }
     .toggle-button {
         display: flex;
      }
     .navbar-links {
          display: none;
     }
     .navbar-links {
         flex-direction: row;
         align-items: flex-start;
         margin-right: 20vw;
     }
     .navbar-links ul {
         flex-direction: column;
         width: 100% ;
     }
     .navbar-links li {
         text-align: center;
     }
     .navbar-links li a {
         padding: 0.5rem;
     }
     .navbar-links.active {
         display: flex;
     }
 
     

     /* ###### MAIN BODY STYLES   */

     #navbar ul li a {
         font-size: 1em;
         padding: 0.5em 1.3em;
     }
     #navbar {
         justify-content: space-around;
     }
 
 
 
     #footer-text {
         font-size: 1em;
         margin-left: 1em;
     }
     #contact-buttons {
         align-items: center;
         margin-right: 1em;
     }
     .contact-images {
         width: 2em;
         padding: 0.3em;
         height: 2em
        
     }

     #projects {
         margin: 0.5em;
     }
     .project-tile {
      margin: 5px 0;
     }
 }
 
 
 
 
 
 /* Survey Form STYLES */
 
 