<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>
        Daveyloper's website
    </title>
    <link href="CSS\styles.css" rel="stylesheet" >
    <script src="scripts/script.js" defer></script>
    <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Cantarell">
</head>


<body> 

    <div class="wrapper">
        <nav>            
            <img id="logoimg" src="images/daveyloper.png" alt="logo" >  
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">   
                 <ul>
                    <li><a class="navlink" href="index.html">Home</a></li>
                    <li><a class="navlink" href="about.html">About</a></li>
                    <li> <a class="navlink" href="projects.html">Projects</a></li>
                    <li> <a class="navlink" href="contact.html">Contact</a></li>
                 </ul>
            </div>
        </nav>

<main class="main"> 

</main>

        <footer class="footer">
            <div id="footer-text"> 
                <p>Davit Lursmanashvili</p> 
                <p id="temptext" style="font-style: italic; font-size: 0.6em;"> (Site is currently under construction and will look different as I experiment with new designs.) </p>   
            </div>
             <div id="contact-buttons"> 
                <a href="https://www.linkedin.com/in/davit-lursmanashvili/">
                    <img src="images/linkedin.png" alt="linkedin" class="contact-images" id="linkedin-image">
                </a>
                <a href="https://www.facebook.com/dato.lursmanashvili">
                    <img src="images/facebook.png" alt="facebook" class="contact-images" id="facebook-image">
                </a>
                <a href="mailto: lursmanashvilidavit@gmail.com">
                    <img src="images/email.png" class="contact-images" id="email-image">
                </a>
            </div> 
    </footer>

    
    </div>
</body>

</html>